# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Storage / generated data
storage/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db